{% extends 'mini_fb/base.html' %}
{% block content %}

<h1>Showing All Profiles</h1>

    <table border="1" >
        <tr>
             <th><b>Name</b></th>
            <th><b>Hometown</b></th>
            <th><b>Image</b></th>
        </tr>
        {% for Profile in all_profiles_list %}
        <tr>
                <td align="center"> <a href = "{% url 'show_profile_page' Profile.pk%} ">{{Profile.first_name}} {{Profile.last_name}} </a></td>
                <td align="center">{{Profile.city}}</td>
                <td align="center" style="max-width: 400;"> <img src="{{Profile.profile_picture_url}}" style="max-width: 100; max-height: 100"></td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}