
{% extends 'mini_fb/base.html' %}
{% block content %}
    <table border="1">
        <tr>
            <th><h3>{{profile.first_name}} {{profile.last_name}} </h3> </th>
        <tr><td>
            <img src = "{{profile.profile_picture_url}}" style = "max-width: 400">
        </td></tr>
        <br>
        <tr><td>{{profile.email_address}}</td></tr>
        <tr><td>{{profile.city}}</td></tr>
        <tr>
            <th>
                <h3>Status Messages</h3>
            </th>
        <tr>
        <th align="left"><h4>Message</h4></th>
        <th align="left"><h4>Time</h4></th>
        </tr>
            <tr>
            {% for messages in profile.get_status_messages %}
            <td>{{messages}}</td>
            {% endfor %}
            {% for messages in profile.get_timestamp %}
            <td>{{timestamps}}</td>
            {% endfor %}

            </tr>
        </tr>
    </table>
{% endblock %}